.barra-lateral {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.link-barra-lateral {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.link-barra-lateral:hover {
  background-color: rgb(235, 235, 235);
}

.link-barra-lateral img {
  height: 24px;
  margin-bottom: 4px;
}

.link-barra-lateral div {
  font-size: 10px;
  margin-top: 4px;
  text-align: center;
}
